<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Sastrawi Ruby Demo</title>
    <script>
      function clearTextInput() {
        document.getElementById('text').value = '';
      }
    </script>
  </head>
  <body>
    <h3>Sastrawi Ruby</h3>
    <p>Please enter your text here:</p>
    <form name="stemform" action="/" method="post">
      <textarea name="input" id="text" rows=8 cols=51 placeholder="e.g., Perekonomian Indonesia sedang dalam pertumbuhan yang membanggakan." autofocus required><%= @text %></textarea><br />
      <input type="submit" value="Stem" />
      <input type="button" value="Clear" onclick="clearTextInput()" />
    </form>
    <% if result %>
      <p>
        Stemming result:<br /><%= result %>
      </p>
      <p>
        This process took <%= time %> seconds.
      </p>
    <% end %>
    <p>
      Copyright &copy; 2017-2018, <a href="https://github.com/meisyal">meisyal</a>,
      All rights reserved.
    </p>
  </body>
</html>
