<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Sastrawi Ruby Demo</title>
  </head>
  <body>
    <h3>Sastrawi Ruby</h3>
    <p>Please enter your text here:</p>
    <form name="stemform" action="/" method="post">
      <textarea name="input" rows=8 cols=51 placeholder="e.g., Perekonomian Indonesia sedang dalam pertumbuhan yang membanggakan." autofocus required></textarea><br />
      <input type="submit" value="Stem" />
      <input type="reset" value="Clear">
    </form>
    <p>
      Stemming result:<br /><%= result %>
    </p>
    <p>
      Copyright &copy; 2017, <a href="https://github.com/meisyal">meisyal</a>,
      All rights reserved.
    </p>
  </body>
</html>
